@model Dictionary<string,Setting>
<div class="logo">
    <h1><a href="index.html">@Model["logo_name"].Value</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html"><img src="~/assets/img/logo.png" alt="" class="img-fluid"></a>-->

</div>